.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.ruff_cache
.mypy_cache
.venv
.dvc/cache
venv
artifacts
mlruns
minio_data
postgres_data
redis_data
ecg_img
artifacts/checkpoints
artifacts/runs
artifacts/metrics
data_registry/ecg_img
data
*.ckpt
*.pt
*.pth
*.zip
*.tar
*.gz
.ipynb_checkpoints